<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener  class-name="Listner.Listner_class"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/mrshi/IdeaProjects/Nuakri_update" parallel="methods" thread-count="2">
        <classes>
            <class name="naukari"></class>
        </classes>
    </test>
</suite>