name: Naukari profile upadte

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: ["master"]
  schedule:
    - cron: '15 07 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Setup ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Set up JDK 20
        uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'
          cache: maven

      - name: Run Maven Tests with Chrome Headless
        run: mvn clean test -Dbrowser=chrome -Denvvalue=test
        continue-on-error: false

      - name: Archive and upload Extent Report
        uses: actions/upload-artifact@v4
        with:
          name: extent-report
          path: report/page.html
